.review__block
  div
    .review__block-preview
  div
    .review__block-header
      div
        p.review__block-title Jerkdolls
      div
        .review__block-star
          img(src="img/icon-star.png" srcset="img/icon-star@2x.png 2x" alt="")
          img(src="img/icon-star.png" srcset="img/icon-star@2x.png 2x" alt="")
          img(src="img/icon-star.png" srcset="img/icon-star@2x.png 2x" alt="")
          img(src="img/icon-star.png" srcset="img/icon-star@2x.png 2x" alt="")
          img(src="img/icon-star.png" srcset="img/icon-star@2x.png 2x" alt="")

    p.review__block-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aperiam asperiores assumenda autem blanditiis consectetur debitis deserunt dicta dolores dolorum, ducimus eligendi explicabo fuga incidunt inventore ipsam ipsum iusto, laborum nam necessitatibus nesciunt non nostrum numquam officiis omnis pariatur praesentium quam quia quisquam ratione reiciendis repellat rerum sequi totam ullam vero voluptates! Amet eius esse eveniet libero maiores minus quam qui reiciendis voluptate! Asperiores doloribus eligendi, esse itaque magnam maxime molestias nulla odio, quo quod repellat sunt, voluptatibus. Architecto atque aut delectus dignissimos doloremque, dolorum excepturi exercitationem illum inventore labore minima officiis porro quaerat qui, quibusdam quidem reiciendis sapiente sint.
    .review__block-advantages-wrapper
      div
        .review__block-advantages.review__block-advantages--pros
          p.review__block-advantages-title Pros
          ul
            li
              div
                img(src="img/icon-check.png" srcset="img/icon-check@2x.png 2x" alt="")
              div
                p Some exclusive content
            li
              div
                img(src="img/icon-check.png" srcset="img/icon-check@2x.png 2x" alt="")
              div
                p No internal adverts
            li
              div
                img(src="img/icon-check.png" srcset="img/icon-check@2x.png 2x" alt="")
              div
                p Supports 4K quality
      div
        .review__block-advantages.review__block-advantages--cons
          p.review__block-advantages-title Cons
          ul
            li
              div
                img(src="img/icon-close.png" srcset="img/icon-close@2x.png 2x" alt="")
              div
                p Requires credit card

    a.review__block-btn(href="#")
      span Click here to Visit Website
