// SECTION :: START

section#review.review
  .c-grid
    .review__wrapper

      .review__header.review__header-1(style='margin-bottom: 0;')
        div
          p Jerkdolls Review
        div
          a(href="/index.html")
            img(src="img/img-arrow-left.png" srcset="img/img-arrow-left@2x.png 2x" alt="")
            span Back to Home

      include _review--block

      .review__header.review__header-2
        div
          p More Sites Similar To Jerk Dolls
        div
          a(href="/index.html")
            img(src="img/img-arrow-left.png" srcset="img/img-arrow-left@2x.png 2x" alt="")
            span Back to Home

      include _review--category

      .review__back.review__back-1
        a(href="/index.html") Click Here To Go Back Home

      .review__header.review__header-3
        div
          p More Categories
        div
          a(href="/index.html")
            img(src="img/img-arrow-left.png" srcset="img/img-arrow-left@2x.png 2x" alt="")
            span Back to Home

      include _review--category-1

      .review__back.review__back-2
        a(href="/index.html") Click Here To Go Back Home

// SECTION :: END
