// SECTION :: START

section#sign.sign.sign--signin

  .c-grid
    .sign__wrapper.sign__wrapper-1

      p.sign__title Forgot Password
      p.sign__desc Enter your email address and we'll email you a link to reset your password or Sign Up

    .sign__wrapper.sign__wrapper-2

      form.sign__form(action='' method='' autocomplete='off')
        .sign__form-field
          label
            input(type='text' name='' placeholder='Username (or Email)')
        .sign__form-field.sign__form-field--btn
          button(type='submit')
            span Restore Password

// SECTION :: END
