// SECTION :: START

section#sign.sign.sign--signin

  .c-grid
    .sign__wrapper.sign__wrapper-1

      p.sign__title Login

    .sign__wrapper.sign__wrapper-2

      form.sign__form(action='' method='' autocomplete='off')
        .sign__form-field
          label
            input(type='text' name='' placeholder='Username')
        .sign__form-field
          label
            input(type='password' name='' placeholder='Password')
        .sign__form-field.sign__form-field--btn
          button(type='submit')
            span Login
        .sign__form-field.sign__form-field--link
          a(href="#") Sign Up Now
          a(href="#") Forgot Password?

// SECTION :: END
