// SECTION :: START

section#sign.sign.sign--signin

  .sign__bg
    .sign__bg-illustration

  .c-grid
    .sign__wrapper.sign__wrapper-1

      p.sign__title Login

    .sign__wrapper.sign__wrapper-2

      form.sign__form(action='' method='' autocomplete='off')


    .sign__wrapper.sign__wrapper-3
      div
        img(src="img/img-logo-footer.png" srcset="img/img-logo-footer@2x.png 2x" alt="")
      div
        img(src="img/img-bookmarks.png" srcset="img/img-bookmarks@2x.png 2x" alt="")
        .sign__bookmarks
          div
            img(src="img/img-bookmarks-book.png" srcset="img/img-bookmarks-book@2x.png 2x" alt="")
          div
            p!= "PRESS <span>CTRL+D</span> NOW TO"
            span BOOKMARK US!

// SECTION :: END
