// SECTION :: START

section#sign.sign.sign--signin

  .sign__bg
    .sign__bg-illustration

  .c-grid
    .sign__wrapper.sign__wrapper-1

      p.sign__title Sign Up

    .sign__wrapper.sign__wrapper-2

      form.sign__form(action='' method='' autocomplete='off')
        .sign__form-field
          label
            input(type='text' name='' placeholder='Username')
        .sign__form-field
          label
            input(type='password' name='' placeholder='Password')
        .sign__form-field
          label
            input(type='email' name='' placeholder='Email')
        .sign__form-field.sign__form-field--btn
          button(type='submit')
            span Join Porn Sheriff Now!
        .sign__form-field.sign__form-field--link(style='justify-content: center;')
          a(href="#")!= "Already Have an Account? <span>Log in now!</span>"

    .sign__wrapper.sign__wrapper-3
      div
        img(src="img/img-logo-footer.png" srcset="img/img-logo-footer@2x.png 2x" alt="")
      div
        img(src="img/img-bookmarks.png" srcset="img/img-bookmarks@2x.png 2x" alt="")
        .sign__bookmarks
          div
            img(src="img/img-bookmarks-book.png" srcset="img/img-bookmarks-book@2x.png 2x" alt="")
          div
            p!= "PRESS <span>CTRL+D</span> NOW TO"
            span BOOKMARK US!

// SECTION :: END
