// SECTION :: START

section#review.review
  .c-grid
    .review__wrapper

      .review__header.review__header-1
        div
          p Category
        div
          a(href="/index.html")
            img(src="img/img-arrow-left.png" srcset="img/img-arrow-left@2x.png 2x" alt="")
            span Back to Home

      .category
        .category__block-wrapper
          div

            .review__category-wrapper
              each val, idx in [1,2,3,4]
                div
                  .review__category
                    a.review__category-head(href='#')
                      img(src="img/img-category.png" srcset="img/img-category@2x.png 2x" alt="")
                    .review__category-body
                      p.review__category-title Title here
                      p.review__category-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi et nulla pariatur quam repudiandae tenetur.
                      .review__category-link
                        a(href="#") Visit Site
                        a(href="#") Read Review

          div

            .category__block
              div
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam amet aperiam architecto atque blanditiis consequuntur deleniti dignissimos esse, explicabo facere fugit ipsa laboriosam, nihil nulla odio officiis possimus provident quaerat quas quasi quibusdam recusandae rem reprehenderit repudiandae sapiente similique suscipit ut velit vero! Ad aperiam commodi debitis dolore dolorem est eveniet facere fugit, id iste itaque libero necessitatibus neque nihil nobis nostrum optio porro quas quisquam recusandae repellendus sed sunt suscipit, temporibus vel? Animi architecto atque corporis cum eligendi, exercitationem explicabo illum itaque laborum libero maxime molestias, optio provident quasi rem reprehenderit suscipit. Animi beatae error libero maxime ullam.
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet delectus exercitationem fuga illum impedit in laborum molestias natus nemo nesciunt nihil numquam officiis, quam quisquam soluta unde, vitae voluptas voluptatum? Animi asperiores aspernatur corporis hic inventore magnam, molestias nihil temporibus totam ullam. Amet dignissimos, dolore ea est facere nesciunt nobis officiis recusandae, repudiandae sed sequi ut vitae. A alias, aut dolor dolores eius fuga nesciunt quos. Aliquid culpa facilis, quas quasi quia repudiandae sapiente similique!
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. At eius eligendi eum illo iure laborum laudantium magni nihil nisi quaerat quibusdam, reiciendis rerum suscipit? Aliquam at inventore, maxime pariatur quam quibusdam voluptatibus. Alias eligendi est ipsum iure, nulla qui sed sint ullam. Alias, animi, vero! Aliquid consequuntur ducimus quod quos.
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad commodi error hic modi possimus repellendus.
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum in modi quisquam repudiandae. A ab animi architecto, aut debitis dicta enim esse et ex explicabo fugit impedit ipsam ipsum minima molestiae mollitia perspiciatis porro quos ratione sapiente sit ullam ut voluptate voluptatem voluptatibus! A ab, aliquam asperiores assumenda aut dignissimos distinctio dolorem eligendi eos ex explicabo fugiat laboriosam magnam molestiae necessitatibus nemo obcaecati odit optio pariatur quos tempora temporibus tenetur ut voluptas voluptatum. Accusamus aperiam asperiores aspernatur, at autem corporis dignissimos dolores ea ex excepturi facilis fugiat hic illum incidunt inventore iusto labore laborum nihil quam quod, sunt velit voluptate!


      include _review--category

      .review__back.review__back-1
        a(href="/index.html") Click Here To Go Back Home

      .review__header.review__header-2
        div
          p More Categories
        div
          a(href="/index.html")
            img(src="img/img-arrow-left.png" srcset="img/img-arrow-left@2x.png 2x" alt="")
            span Back to Home

      include _review--category-1

      .review__back.review__back-2
        a(href="/index.html") Click Here To Go Back Home

// SECTION :: END
