// SECTION :: START

.sign {
	position: relative;
	padding-top: 75px;

	&__wrapper {
		z-index: 10;
		position: relative;

		&-2 {
			padding-bottom: 80px;
		}
	}

	&__title {
		padding-bottom: 20px;
		font-size: 49px;
		color: rgb(255, 255, 255);
		font-weight: bold;
		line-height: 1.2;
		text-align: center;
		@include adaptive(767) {
			font-size: 36px;
		}
	}

	&__desc {
		width: 100%;
		max-width: 410px;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 20px;
		font-size: 18px;
		color: rgb(255, 255, 255);
		font-weight: 500;
		line-height: 1.2;
		@extend %fontMagicMushroom;
		text-align: center;
		@include adaptive(767) {
			font-size: 15px;
		}
	}

	&__form {
		width: 100%;
		max-width: 410px;
		margin-left: auto;
		margin-right: auto;

		&-field {
			position: relative;
			padding-bottom: 20px;

			&.sign__form-field--btn {
				padding-bottom: 15px;
			}

			&.sign__form-field--link {
				display: flex;
				align-items: center;
				justify-content: space-between;

				a {
					display: flex;
					@extend %fontMagicMushroom;
					color: #d7af90;
					font-size: 19px;
					line-height: 1;
					@include transition(color);
					@include adaptive(767) {
						font-size: 16px;
					}

					span {
						padding-left: 5px;
						color: #ffffff;
					}

					&:hover {
						color: #fff;
						@include transition(color);
					}
				}
			}
		}

		label {
			position: relative;
			display: flex;
			width: 100%;
		}

		input {
			outline: none;
			position: relative;
			display: flex;
			width: 100%;
			height: 50px;
			padding: 0 15px;
			border: none;
			box-shadow: 3px 3px 1px 0 rgba(#000, 0.35);
			border-radius: 2px;
			background-color: #ffffff;
			font-size: 16px;
			@include inputPlaceholder {
				font-size: 16px;
				color: silver;
			}
		}

		button {
			outline: none;
			cursor: pointer;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 75px;
			border: none;
			box-shadow: none;
			background-color: transparent;
			background-image: url('../img/img-btn-bg@2x.png');
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			@include adaptive(767) {
				height: 65px;
			}

			&:hover {
				span {
					color: #3b2110;
					text-shadow: 2px 2px 0px rgba(255, 176, 113, 0);
					@include transition(color, text-shadow);
				}
			}

			span {
				@extend %fontMagicMushroom;
				color: #440000;
				font-size: 33px;
				line-height: 1;
				text-shadow: 2px 2px 0px rgba(255, 176, 113, 0.75);
				@include transition(color, text-shadow);
				@include adaptive(767) {
					font-size: 28px;
				}
			}
		}
	}
}

// SECTION :: END
