@charset "UTF-8";
/* line 26, src/scss/_utilities/_extend.scss */
.header__sign a, .header__nav a {
  font-family: 'MagicMushroom', sans-serif;
}

/* line 29, src/scss/_utilities/_extend.scss */
.sign__bookmarks > div p, .sign__bookmarks > div > span {
  font-family: 'Bernard', sans-serif;
}

/* line 30, src/scss/_utilities/_extend.scss */
body {
  font-family: 'Helvetica', sans-serif;
}

@font-face {
  font-family: "iconFont";
  src: url("../fonts/iconFont.eot");
  src: url("../fonts/iconFont.eot?#iefix") format("eot"), url("../fonts/iconFont.woff2") format("woff2"), url("../fonts/iconFont.woff") format("woff"), url("../fonts/iconFont.ttf") format("truetype"), url("../fonts/iconFont.svg#iconFont") format("svg");
}

/* line 23, src/scss/_generated/_spriteFont.scss */
.icon-search:before {
  font-family: "iconFont", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}

/* line 38, src/scss/_generated/_spriteFont.scss */
.icon-search:before {
  content: "";
}

@font-face {
  font-family: "MagicMushroom";
  src: url("../fonts/MagicMushroom.woff2") format("woff2"), url("../fonts/MagicMushroom.woff") format("woff"), url("../fonts/MagicMushroom.ttf") format("truetype"), url("../fonts/MagicMushroom.svg#MagicMushroom") format("svg");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "HellsRiderDecay";
  src: url("../fonts/HellsRiderDecay.woff2") format("woff2"), url("../fonts/HellsRiderDecay.woff") format("woff"), url("../fonts/HellsRiderDecay.ttf") format("truetype"), url("../fonts/HellsRiderDecay.svg#HellsRiderDecay") format("svg");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bernard";
  src: url("../fonts/Bernard.woff2") format("woff2"), url("../fonts/Bernard.woff") format("woff"), url("../fonts/Bernard.ttf") format("truetype"), url("../fonts/Bernard.svg#Bernard") format("svg");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica.woff2") format("woff2"), url("../fonts/Helvetica.woff") format("woff"), url("../fonts/Helvetica.ttf") format("truetype"), url("../fonts/Helvetica.svg#Helvetica") format("svg");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica-Bold.woff2") format("woff2"), url("../fonts/Helvetica-Bold.woff") format("woff"), url("../fonts/Helvetica-Bold.ttf") format("truetype"), url("../fonts/Helvetica-Bold.svg#Helvetica") format("svg");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/HelveticaLight.woff2") format("woff2"), url("../fonts/HelveticaLight.woff") format("woff"), url("../fonts/HelveticaLight.ttf") format("truetype"), url("../fonts/HelveticaLight.svg#Helvetica") format("svg");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica-Oblique";
  src: url("../fonts/Helvetica-Oblique.woff2") format("woff2"), url("../fonts/Helvetica-Oblique.woff") format("woff"), url("../fonts/Helvetica-Oblique.ttf") format("truetype"), url("../fonts/Helvetica-Oblique.svg#Helvetica-Oblique") format("svg");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-SemiBold.woff2") format("woff2"), url("../fonts/Oswald-SemiBold.woff") format("woff"), url("../fonts/Oswald-SemiBold.ttf") format("truetype"), url("../fonts/Oswald-SemiBold.svg#Oswald") format("svg");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-Bold.woff2") format("woff2"), url("../fonts/Oswald-Bold.woff") format("woff"), url("../fonts/Oswald-Bold.ttf") format("truetype"), url("../fonts/Oswald-Bold.svg#Oswald") format("svg");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-ExtraLight.woff2") format("woff2"), url("../fonts/Oswald-ExtraLight.woff") format("woff"), url("../fonts/Oswald-ExtraLight.ttf") format("truetype"), url("../fonts/Oswald-ExtraLight.svg#Oswald") format("svg");
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-Light.woff2") format("woff2"), url("../fonts/Oswald-Light.woff") format("woff"), url("../fonts/Oswald-Light.ttf") format("truetype"), url("../fonts/Oswald-Light.svg#Oswald") format("svg");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-Medium.woff2") format("woff2"), url("../fonts/Oswald-Medium.woff") format("woff"), url("../fonts/Oswald-Medium.ttf") format("truetype"), url("../fonts/Oswald-Medium.svg#Oswald") format("svg");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald.woff2") format("woff2"), url("../fonts/Oswald.woff") format("woff"), url("../fonts/Oswald.ttf") format("truetype"), url("../fonts/Oswald.svg#Oswald") format("svg");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

/* line 1, src/scss/_shared/_main-setting-reset.scss */
html,
body {
  width: 100%;
  min-height: 100vh;
}

/* line 6, src/scss/_shared/_main-setting-reset.scss */
html.is-hideScroll,
body.is-hideScroll {
  width: 100%;
  overflow: hidden !important;
}

/* line 13, src/scss/_shared/_main-setting-reset.scss */
html {
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 19, src/scss/_shared/_main-setting-reset.scss */
body {
  overflow-x: hidden;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #3b2110;
  line-height: 1.42857143;
  font-size: 14px;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 33, src/scss/_shared/_main-setting-reset.scss */
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

/* line 38, src/scss/_shared/_main-setting-reset.scss */
body > .body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

/* line 44, src/scss/_shared/_main-setting-reset.scss */
body > .body--start {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

/* line 51, src/scss/_shared/_main-setting-reset.scss */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 54, src/scss/_shared/_main-setting-reset.scss */
*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 61, src/scss/_shared/_main-setting-reset.scss */
button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
  margin: 0;
}

/* line 71, src/scss/_shared/_main-setting-reset.scss */
button,
input {
  overflow: visible;
}

/* line 77, src/scss/_shared/_main-setting-reset.scss */
button[disabled] {
  opacity: 0.55;
  cursor: not-allowed;
}

/* line 83, src/scss/_shared/_main-setting-reset.scss */
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/* line 89, src/scss/_shared/_main-setting-reset.scss */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 95, src/scss/_shared/_main-setting-reset.scss */
textarea {
  overflow: auto;
}

/* line 100, src/scss/_shared/_main-setting-reset.scss */
p,
h1, h2, h3, h4, h5, h6,
hr {
  margin: 0;
  padding: 0;
}

/* line 108, src/scss/_shared/_main-setting-reset.scss */
ul {
  margin: 0;
  padding: 0;
}

/* line 113, src/scss/_shared/_main-setting-reset.scss */
ul li {
  list-style: none;
}

/* line 119, src/scss/_shared/_main-setting-reset.scss */
a {
  outline: none;
  text-decoration: none;
}

/* line 124, src/scss/_shared/_main-setting-reset.scss */
a:hover, a:focus {
  text-decoration: none;
}

/* line 131, src/scss/_shared/_main-setting-reset.scss */
input[type="text"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* line 135, src/scss/_shared/_main-setting-reset.scss */
picture {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 8, src/scss/_shared/_grid.scss */
.c-grid, .c-grid-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

/* line 20, src/scss/_shared/_grid.scss */
.c-grid {
  max-width: 816px;
}

/* line 26, src/scss/_shared/_grid.scss */
.c-grid-fluid {
  max-width: 100%;
}

/* line 1, src/scss/_shared/_iconFont.scss */
.icon-font {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  line-height: 1;
}

/* line 3, src/scss/_components/_header.scss */
.header {
  background-image: url("../img/img-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
}

/* line 9, src/scss/_components/_header.scss */
.header__wrapper {
  z-index: 2;
  position: relative;
  height: 255px;
}

/* line 15, src/scss/_components/_header.scss */
.header__bg {
  z-index: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 24, src/scss/_components/_header.scss */
.header__bg-left, .header__bg-middle, .header__bg-right {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 34, src/scss/_components/_header.scss */
.header__bg-left {
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 5px;
}

/* line 40, src/scss/_components/_header.scss */
.header__bg-left img {
  max-height: 100%;
}

/* line 44, src/scss/_components/_header.scss */
.header__bg-middle {
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* line 50, src/scss/_components/_header.scss */
.header__bg-middle img {
  margin-left: auto;
  margin-right: auto;
}

/* line 55, src/scss/_components/_header.scss */
.header__bg-right {
  z-index: 3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/* line 60, src/scss/_components/_header.scss */
.header__bg-right > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 200px;
  padding-top: 5px;
  padding-bottom: 30px;
}

/* line 72, src/scss/_components/_header.scss */
.header__bg img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* line 79, src/scss/_components/_header.scss */
.header__sign {
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 115px;
  height: 22px;
  margin-bottom: 5px;
  -webkit-border-radius: 2rem;
          border-radius: 2rem;
  background-color: #ffffff;
  background-image: url("../img/img-header-nav-bg@2x.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
}

/* line 94, src/scss/_components/_header.scss */
.header__sign a {
  white-space: nowrap;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
  height: 100%;
  color: #000000;
  text-transform: uppercase;
  font-size: 13px;
  text-shadow: 1px 1px 0px rgba(255, 176, 113, 0.75);
  -webkit-transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

/* line 110, src/scss/_components/_header.scss */
.header__sign a:hover {
  color: #3b2110;
  text-shadow: 2px 2px 0px rgba(255, 176, 113, 0);
  -webkit-transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

/* line 117, src/scss/_components/_header.scss */
.header__sign span {
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(68, 0, 0, 0)), color-stop(50%, #440000), to(rgba(68, 0, 0, 0)));
  background: -webkit-linear-gradient(top, rgba(68, 0, 0, 0) 0%, #440000 50%, rgba(68, 0, 0, 0) 100%);
  background: -o-linear-gradient(top, rgba(68, 0, 0, 0) 0%, #440000 50%, rgba(68, 0, 0, 0) 100%);
  background: linear-gradient(to bottom, rgba(68, 0, 0, 0) 0%, #440000 50%, rgba(68, 0, 0, 0) 100%);
}

/* line 124, src/scss/_components/_header.scss */
.header__search {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 185px;
  margin-left: auto;
  margin-right: auto;
}

/* line 132, src/scss/_components/_header.scss */
.header__search label {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

/* line 138, src/scss/_components/_header.scss */
.header__search input {
  outline: none;
  position: relative;
  width: 100%;
  height: 35px;
  padding: 0 30px 0 10px;
  border: none;
  -webkit-box-shadow: 3px 3px 1px 0 rgba(0, 0, 0, 0.35);
          box-shadow: 3px 3px 1px 0 rgba(0, 0, 0, 0.35);
  -webkit-border-radius: 2px;
          border-radius: 2px;
  background-color: #ffffff;
  font-size: 12px;
}

/* line 88, src/scss/_utilities/_mixin.scss */
.header__search input.placeholder {
  font-size: 12px;
  color: silver;
}

/* line 89, src/scss/_utilities/_mixin.scss */
.header__search input:-moz-placeholder {
  font-size: 12px;
  color: silver;
}

/* line 90, src/scss/_utilities/_mixin.scss */
.header__search input::-moz-placeholder {
  font-size: 12px;
  color: silver;
}

/* line 91, src/scss/_utilities/_mixin.scss */
.header__search input:-ms-input-placeholder {
  font-size: 12px;
  color: silver;
}

/* line 92, src/scss/_utilities/_mixin.scss */
.header__search input::-webkit-input-placeholder {
  font-size: 12px;
  color: silver;
}

/* line 155, src/scss/_components/_header.scss */
.header__search .icon-font {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 100%;
  color: #000000;
}

/* line 168, src/scss/_components/_header.scss */
.header__wanted {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-height: 1px;
  max-height: 100%;
}

/* line 175, src/scss/_components/_header.scss */
.header__wanted img {
  display: block;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* line 185, src/scss/_components/_header.scss */
.header__nav {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 54px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
  background-image: url("../img/img-header-nav-bg@2x.png");
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  background-position: center;
}

/* line 200, src/scss/_components/_header.scss */
.header__nav a {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 15px;
  padding-right: 15px;
  color: #440000;
  font-size: 33px;
  line-height: 1;
  text-shadow: 2px 2px 0px rgba(255, 176, 113, 0.75);
  -webkit-transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

/* line 216, src/scss/_components/_header.scss */
.header__nav a:hover {
  color: #3b2110;
  text-shadow: 2px 2px 0px rgba(255, 176, 113, 0);
  -webkit-transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

/* line 3, src/scss/_components/_footer.scss */
.footer {
  padding-top: 31px;
  padding-bottom: 140px;
}

/* line 7, src/scss/_components/_footer.scss */
.footer__wrapper {
  width: 100%;
  max-width: 580px;
  margin-left: auto;
  margin-right: auto;
}

/* line 14, src/scss/_components/_footer.scss */
.footer__desc {
  padding-bottom: 20px;
  font-size: 10px;
  color: #ababab;
  text-align: center;
}

/* line 21, src/scss/_components/_footer.scss */
.footer__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 15px;
}

/* line 27, src/scss/_components/_footer.scss */
.footer__nav a,
.footer__nav span {
  font-size: 16px;
  color: #ababab;
}

/* line 33, src/scss/_components/_footer.scss */
.footer__nav a {
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 36, src/scss/_components/_footer.scss */
.footer__nav a:hover {
  color: #ffffff;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 42, src/scss/_components/_footer.scss */
.footer__nav span {
  padding-left: 10px;
  padding-right: 10px;
}

/* line 48, src/scss/_components/_footer.scss */
.footer__copyright {
  text-align: center;
  font-size: 16px;
  color: #ababab;
}

/* line 3, src/scss/_components/sign/_sign.scss */
.sign {
  position: relative;
  padding-top: 75px;
}

/* line 9, src/scss/_components/sign/_sign.scss */
.sign__bg {
  z-index: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

/* line 17, src/scss/_components/sign/_sign.scss */
.sign__bg-illustration {
  z-index: 1;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 127px;
  background-image: url("../img/img-bg.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  -webkit-background-size: cover;
          background-size: cover;
}

/* line 30, src/scss/_components/sign/_sign.scss */
.sign__bg:after {
  content: '';
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#3b2110), color-stop(75%, #3b2110), to(rgba(59, 33, 16, 0)));
  background: -webkit-linear-gradient(top, #3b2110 0%, #3b2110 75%, rgba(59, 33, 16, 0) 100%);
  background: -o-linear-gradient(top, #3b2110 0%, #3b2110 75%, rgba(59, 33, 16, 0) 100%);
  background: linear-gradient(to bottom, #3b2110 0%, #3b2110 75%, rgba(59, 33, 16, 0) 100%);
}

/* line 42, src/scss/_components/sign/_sign.scss */
.sign__wrapper {
  z-index: 10;
  position: relative;
}

/* line 47, src/scss/_components/sign/_sign.scss */
.sign__wrapper-2 {
  padding-bottom: 80px;
}

/* line 50, src/scss/_components/sign/_sign.scss */
.sign__wrapper-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 5px;
}

/* line 56, src/scss/_components/sign/_sign.scss */
.sign__wrapper-3 > div {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 61, src/scss/_components/sign/_sign.scss */
.sign__wrapper-3 > div:nth-of-type(1) {
  padding-bottom: 30px;
}

/* line 66, src/scss/_components/sign/_sign.scss */
.sign__wrapper-3 img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* line 74, src/scss/_components/sign/_sign.scss */
.sign__title {
  padding-bottom: 20px;
  font-size: 49px;
  color: white;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
}

/* line 83, src/scss/_components/sign/_sign.scss */
.sign__form {
  min-height: 200px;
}

/* line 87, src/scss/_components/sign/_sign.scss */
.sign__bookmarks {
  position: absolute;
  top: 27px;
  left: 22px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 96, src/scss/_components/sign/_sign.scss */
.sign__bookmarks > div:nth-of-type(1) {
  padding: 5px;
}

/* line 99, src/scss/_components/sign/_sign.scss */
.sign__bookmarks > div:nth-of-type(2) {
  padding: 5px 5px 5px 0;
}

/* line 103, src/scss/_components/sign/_sign.scss */
.sign__bookmarks > div p {
  font-size: 23px;
  color: #401d00;
  line-height: 1.2;
  text-shadow: 0px 1px 0px rgba(255, 192, 132, 0.004);
}

/* line 110, src/scss/_components/sign/_sign.scss */
.sign__bookmarks > div p > span {
  color: #8b1200;
}

/* line 115, src/scss/_components/sign/_sign.scss */
.sign__bookmarks > div > span {
  font-size: 35px;
  color: #aa1600;
  line-height: 1.2;
  text-shadow: 0px 1px 0px rgba(255, 192, 132, 0.004);
}

/* line 124, src/scss/_components/sign/_sign.scss */
.sign__bookmarks img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*# sourceMappingURL=maps/app.css.map */
