@charset "UTF-8";
/* line 14, src/scss/_utilities/_extend.scss */
.review__block-preview img,
.review__block-preview video,
.review__block-preview iframe, .review__category-head img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

/* line 26, src/scss/_utilities/_extend.scss */
.header__sign a, .header__nav a, .sign__desc, .sign__form-field.sign__form-field--link a, .sign__form button span, .about__title, .main__block-head p, .review__header p, .review__header a span, .review__back a, .review__block-title, .review__block-advantages-title, .review__block-advantages ul li p, .review__block-btn, .review__category-link a, .review__category-btn {
  font-family: 'MagicMushroom', sans-serif;
}

/* line 29, src/scss/_utilities/_extend.scss */
.body__bookmarks > div p, .body__bookmarks > div > span {
  font-family: 'Bernard', sans-serif;
}

/* line 30, src/scss/_utilities/_extend.scss */
body {
  font-family: 'Helvetica', sans-serif;
}

@font-face {
  font-family: "iconFont";
  src: url("../fonts/iconFont.eot");
  src: url("../fonts/iconFont.eot?#iefix") format("eot"), url("../fonts/iconFont.woff2") format("woff2"), url("../fonts/iconFont.woff") format("woff"), url("../fonts/iconFont.ttf") format("truetype"), url("../fonts/iconFont.svg#iconFont") format("svg");
}

/* line 23, src/scss/_generated/_spriteFont.scss */
.icon-right-chevron:before, .icon-search:before, .icon-zoom-in:before {
  font-family: "iconFont", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}

/* line 44, src/scss/_generated/_spriteFont.scss */
.icon-right-chevron:before {
  content: "";
}

/* line 44, src/scss/_generated/_spriteFont.scss */
.icon-search:before {
  content: "";
}

/* line 44, src/scss/_generated/_spriteFont.scss */
.icon-zoom-in:before {
  content: "";
}

@font-face {
  font-family: "MagicMushroom";
  src: url("../fonts/MagicMushroom.woff2") format("woff2"), url("../fonts/MagicMushroom.woff") format("woff"), url("../fonts/MagicMushroom.ttf") format("truetype"), url("../fonts/MagicMushroom.svg#MagicMushroom") format("svg");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "HellsRiderDecay";
  src: url("../fonts/HellsRiderDecay.woff2") format("woff2"), url("../fonts/HellsRiderDecay.woff") format("woff"), url("../fonts/HellsRiderDecay.ttf") format("truetype"), url("../fonts/HellsRiderDecay.svg#HellsRiderDecay") format("svg");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bernard";
  src: url("../fonts/Bernard.woff2") format("woff2"), url("../fonts/Bernard.woff") format("woff"), url("../fonts/Bernard.ttf") format("truetype"), url("../fonts/Bernard.svg#Bernard") format("svg");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica.woff2") format("woff2"), url("../fonts/Helvetica.woff") format("woff"), url("../fonts/Helvetica.ttf") format("truetype"), url("../fonts/Helvetica.svg#Helvetica") format("svg");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica-Bold.woff2") format("woff2"), url("../fonts/Helvetica-Bold.woff") format("woff"), url("../fonts/Helvetica-Bold.ttf") format("truetype"), url("../fonts/Helvetica-Bold.svg#Helvetica") format("svg");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/HelveticaLight.woff2") format("woff2"), url("../fonts/HelveticaLight.woff") format("woff"), url("../fonts/HelveticaLight.ttf") format("truetype"), url("../fonts/HelveticaLight.svg#Helvetica") format("svg");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica-Oblique";
  src: url("../fonts/Helvetica-Oblique.woff2") format("woff2"), url("../fonts/Helvetica-Oblique.woff") format("woff"), url("../fonts/Helvetica-Oblique.ttf") format("truetype"), url("../fonts/Helvetica-Oblique.svg#Helvetica-Oblique") format("svg");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-SemiBold.woff2") format("woff2"), url("../fonts/Oswald-SemiBold.woff") format("woff"), url("../fonts/Oswald-SemiBold.ttf") format("truetype"), url("../fonts/Oswald-SemiBold.svg#Oswald") format("svg");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-Bold.woff2") format("woff2"), url("../fonts/Oswald-Bold.woff") format("woff"), url("../fonts/Oswald-Bold.ttf") format("truetype"), url("../fonts/Oswald-Bold.svg#Oswald") format("svg");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-ExtraLight.woff2") format("woff2"), url("../fonts/Oswald-ExtraLight.woff") format("woff"), url("../fonts/Oswald-ExtraLight.ttf") format("truetype"), url("../fonts/Oswald-ExtraLight.svg#Oswald") format("svg");
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-Light.woff2") format("woff2"), url("../fonts/Oswald-Light.woff") format("woff"), url("../fonts/Oswald-Light.ttf") format("truetype"), url("../fonts/Oswald-Light.svg#Oswald") format("svg");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-Medium.woff2") format("woff2"), url("../fonts/Oswald-Medium.woff") format("woff"), url("../fonts/Oswald-Medium.ttf") format("truetype"), url("../fonts/Oswald-Medium.svg#Oswald") format("svg");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald.woff2") format("woff2"), url("../fonts/Oswald.woff") format("woff"), url("../fonts/Oswald.ttf") format("truetype"), url("../fonts/Oswald.svg#Oswald") format("svg");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

/* line 1, src/scss/_shared/_main-setting-reset.scss */
html,
body {
  width: 100%;
  min-height: 100vh;
}

/* line 6, src/scss/_shared/_main-setting-reset.scss */
html.is-hideScroll,
body.is-hideScroll {
  width: 100%;
  overflow: hidden !important;
}

/* line 13, src/scss/_shared/_main-setting-reset.scss */
html {
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 19, src/scss/_shared/_main-setting-reset.scss */
body {
  overflow-x: hidden;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #3b2110;
  line-height: 1.42857143;
  font-size: 14px;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 33, src/scss/_shared/_main-setting-reset.scss */
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

/* line 38, src/scss/_shared/_main-setting-reset.scss */
body > .body {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

/* line 45, src/scss/_shared/_main-setting-reset.scss */
body > .body--start {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

/* line 52, src/scss/_shared/_main-setting-reset.scss */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 55, src/scss/_shared/_main-setting-reset.scss */
*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 62, src/scss/_shared/_main-setting-reset.scss */
button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
  margin: 0;
}

/* line 72, src/scss/_shared/_main-setting-reset.scss */
button,
input {
  overflow: visible;
}

/* line 78, src/scss/_shared/_main-setting-reset.scss */
button[disabled] {
  opacity: 0.55;
  cursor: not-allowed;
}

/* line 84, src/scss/_shared/_main-setting-reset.scss */
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/* line 90, src/scss/_shared/_main-setting-reset.scss */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 96, src/scss/_shared/_main-setting-reset.scss */
textarea {
  overflow: auto;
}

/* line 101, src/scss/_shared/_main-setting-reset.scss */
p,
h1, h2, h3, h4, h5, h6,
hr {
  margin: 0;
  padding: 0;
}

/* line 109, src/scss/_shared/_main-setting-reset.scss */
ul {
  margin: 0;
  padding: 0;
}

/* line 114, src/scss/_shared/_main-setting-reset.scss */
ul li {
  list-style: none;
}

/* line 120, src/scss/_shared/_main-setting-reset.scss */
a {
  outline: none;
  text-decoration: none;
}

/* line 125, src/scss/_shared/_main-setting-reset.scss */
a:hover, a:focus {
  text-decoration: none;
}

/* line 132, src/scss/_shared/_main-setting-reset.scss */
input[type="text"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* line 136, src/scss/_shared/_main-setting-reset.scss */
picture {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 8, src/scss/_shared/_grid.scss */
.c-grid, .c-grid-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

/* line 20, src/scss/_shared/_grid.scss */
.c-grid {
  max-width: 816px;
}

/* line 26, src/scss/_shared/_grid.scss */
.c-grid-fluid {
  max-width: 100%;
}

/* line 3, src/scss/_shared/_common.scss */
.body {
  overflow: hidden;
  position: relative;
}

/* line 7, src/scss/_shared/_common.scss */
.body__bg {
  z-index: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

/* line 15, src/scss/_shared/_common.scss */
.body__bg-illustration {
  z-index: 1;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 127px;
  background-image: url("../img/img-bg.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  -webkit-background-size: cover;
          background-size: cover;
}

/* line 28, src/scss/_shared/_common.scss */
.body__bg:after {
  content: '';
  z-index: 2;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 450px;
  background: -webkit-gradient(linear, left top, left bottom, from(#3b2110), color-stop(75%, #3b2110), to(rgba(59, 33, 16, 0)));
  background: -webkit-linear-gradient(top, #3b2110 0%, #3b2110 75%, rgba(59, 33, 16, 0) 100%);
  background: -o-linear-gradient(top, #3b2110 0%, #3b2110 75%, rgba(59, 33, 16, 0) 100%);
  background: linear-gradient(to bottom, #3b2110 0%, #3b2110 75%, rgba(59, 33, 16, 0) 100%);
}

/* line 40, src/scss/_shared/_common.scss */
.body__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding-bottom: 5px;
}

/* line 47, src/scss/_shared/_common.scss */
.body__wrapper > div {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 52, src/scss/_shared/_common.scss */
.body__wrapper > div:nth-of-type(1) {
  padding-bottom: 30px;
}

/* line 57, src/scss/_shared/_common.scss */
.body__wrapper img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* line 64, src/scss/_shared/_common.scss */
.body__bookmarks {
  position: absolute;
  top: 27px;
  left: 22px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 73, src/scss/_shared/_common.scss */
.body__bookmarks > div:nth-of-type(1) {
  padding: 5px;
}

/* line 76, src/scss/_shared/_common.scss */
.body__bookmarks > div:nth-of-type(2) {
  padding: 5px 5px 5px 0;
}

/* line 80, src/scss/_shared/_common.scss */
.body__bookmarks > div p {
  font-size: 23px;
  color: #401d00;
  line-height: 1.2;
  text-shadow: 0px 1px 0px rgba(255, 192, 132, 0.004);
}

/* line 87, src/scss/_shared/_common.scss */
.body__bookmarks > div p > span {
  color: #8b1200;
}

/* line 92, src/scss/_shared/_common.scss */
.body__bookmarks > div > span {
  font-size: 35px;
  color: #aa1600;
  line-height: 1.2;
  text-shadow: 0px 1px 0px rgba(255, 192, 132, 0.004);
}

/* line 101, src/scss/_shared/_common.scss */
.body__bookmarks img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* line 1, src/scss/_shared/_iconFont.scss */
.icon-font {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  line-height: 1;
}

/* line 3, src/scss/_components/_header.scss */
.header {
  background-image: url("../img/img-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
}

/* line 9, src/scss/_components/_header.scss */
.header__wrapper {
  z-index: 2;
  position: relative;
  height: 255px;
}

/* line 15, src/scss/_components/_header.scss */
.header__bg {
  z-index: 0;
  overflow: hidden;
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 26, src/scss/_components/_header.scss */
.header__bg-left {
  z-index: 2;
  position: relative;
}

/* line 30, src/scss/_components/_header.scss */
.header__bg-left img {
  z-index: 5;
  position: relative;
  top: 0;
  left: 0;
  display: block;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

/* line 41, src/scss/_components/_header.scss */
.header__bg-middle {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* line 52, src/scss/_components/_header.scss */
.header__bg-middle img {
  position: absolute;
  left: 0;
  right: 0;
  display: block;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* line 64, src/scss/_components/_header.scss */
.header__bg-right {
  z-index: 3;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/* line 70, src/scss/_components/_header.scss */
.header__bg-right > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 200px;
  padding-top: 5px;
  padding-bottom: 30px;
}

/* line 82, src/scss/_components/_header.scss */
.header__bg img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* line 89, src/scss/_components/_header.scss */
.header__sign {
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 115px;
  height: 22px;
  margin-bottom: 5px;
  -webkit-border-radius: 2rem;
          border-radius: 2rem;
  background-color: #ffffff;
  background-image: url("../img/img-header-nav-bg@2x.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
}

/* line 104, src/scss/_components/_header.scss */
.header__sign a {
  white-space: nowrap;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
  height: 100%;
  color: #000000;
  text-transform: uppercase;
  font-size: 13px;
  text-shadow: 1px 1px 0px rgba(255, 176, 113, 0.75);
  -webkit-transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

/* line 120, src/scss/_components/_header.scss */
.header__sign a:hover {
  color: #3b2110;
  text-shadow: 2px 2px 0px rgba(255, 176, 113, 0);
  -webkit-transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

/* line 127, src/scss/_components/_header.scss */
.header__sign span {
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(68, 0, 0, 0)), color-stop(50%, #440000), to(rgba(68, 0, 0, 0)));
  background: -webkit-linear-gradient(top, rgba(68, 0, 0, 0) 0%, #440000 50%, rgba(68, 0, 0, 0) 100%);
  background: -o-linear-gradient(top, rgba(68, 0, 0, 0) 0%, #440000 50%, rgba(68, 0, 0, 0) 100%);
  background: linear-gradient(to bottom, rgba(68, 0, 0, 0) 0%, #440000 50%, rgba(68, 0, 0, 0) 100%);
}

/* line 134, src/scss/_components/_header.scss */
.header__search {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 185px;
  margin-left: auto;
  margin-right: auto;
}

/* line 142, src/scss/_components/_header.scss */
.header__search label {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

/* line 148, src/scss/_components/_header.scss */
.header__search input {
  outline: none;
  position: relative;
  width: 100%;
  height: 35px;
  padding: 0 30px 0 10px;
  border: none;
  -webkit-box-shadow: 3px 3px 1px 0 rgba(0, 0, 0, 0.35);
          box-shadow: 3px 3px 1px 0 rgba(0, 0, 0, 0.35);
  -webkit-border-radius: 2px;
          border-radius: 2px;
  background-color: #ffffff;
  font-size: 12px;
}

/* line 88, src/scss/_utilities/_mixin.scss */
.header__search input.placeholder {
  font-size: 12px;
  color: silver;
}

/* line 89, src/scss/_utilities/_mixin.scss */
.header__search input:-moz-placeholder {
  font-size: 12px;
  color: silver;
}

/* line 90, src/scss/_utilities/_mixin.scss */
.header__search input::-moz-placeholder {
  font-size: 12px;
  color: silver;
}

/* line 91, src/scss/_utilities/_mixin.scss */
.header__search input:-ms-input-placeholder {
  font-size: 12px;
  color: silver;
}

/* line 92, src/scss/_utilities/_mixin.scss */
.header__search input::-webkit-input-placeholder {
  font-size: 12px;
  color: silver;
}

/* line 165, src/scss/_components/_header.scss */
.header__search .icon-font {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 100%;
  color: #000000;
}

/* line 178, src/scss/_components/_header.scss */
.header__wanted {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-height: 1px;
  max-height: 100%;
}

/* line 185, src/scss/_components/_header.scss */
.header__wanted img {
  display: block;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* line 195, src/scss/_components/_header.scss */
.header__nav {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 54px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
  background-image: url("../img/img-header-nav-bg@2x.png");
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  background-position: center;
}

/* line 210, src/scss/_components/_header.scss */
.header__nav a {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 15px;
  padding-right: 15px;
  color: #440000;
  font-size: 33px;
  line-height: 1;
  text-shadow: 2px 2px 0px rgba(255, 176, 113, 0.75);
  -webkit-transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

/* line 226, src/scss/_components/_header.scss */
.header__nav a:hover {
  color: #3b2110;
  text-shadow: 2px 2px 0px rgba(255, 176, 113, 0);
  -webkit-transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

/* line 3, src/scss/_components/_footer.scss */
.footer {
  padding-top: 31px;
  padding-bottom: 140px;
}

/* line 7, src/scss/_components/_footer.scss */
.footer__wrapper {
  width: 100%;
  max-width: 580px;
  margin-left: auto;
  margin-right: auto;
}

/* line 14, src/scss/_components/_footer.scss */
.footer__desc {
  padding-bottom: 20px;
  font-size: 10px;
  color: #ababab;
  text-align: center;
}

/* line 21, src/scss/_components/_footer.scss */
.footer__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 15px;
}

/* line 27, src/scss/_components/_footer.scss */
.footer__nav a,
.footer__nav span {
  font-size: 16px;
  color: #ababab;
}

/* line 33, src/scss/_components/_footer.scss */
.footer__nav a {
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 36, src/scss/_components/_footer.scss */
.footer__nav a:hover {
  color: #ffffff;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 42, src/scss/_components/_footer.scss */
.footer__nav span {
  padding-left: 10px;
  padding-right: 10px;
}

/* line 48, src/scss/_components/_footer.scss */
.footer__copyright {
  text-align: center;
  font-size: 16px;
  color: #ababab;
}

/* line 3, src/scss/_components/sign/_sign.scss */
.sign {
  position: relative;
  padding-top: 75px;
}

/* line 7, src/scss/_components/sign/_sign.scss */
.sign__wrapper {
  z-index: 10;
  position: relative;
}

/* line 11, src/scss/_components/sign/_sign.scss */
.sign__wrapper-2 {
  padding-bottom: 80px;
}

/* line 16, src/scss/_components/sign/_sign.scss */
.sign__title {
  padding-bottom: 20px;
  font-size: 49px;
  color: white;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
}

/* line 25, src/scss/_components/sign/_sign.scss */
.sign__desc {
  width: 100%;
  max-width: 410px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  font-size: 18px;
  color: white;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
}

/* line 39, src/scss/_components/sign/_sign.scss */
.sign__form {
  width: 100%;
  max-width: 410px;
  margin-left: auto;
  margin-right: auto;
}

/* line 45, src/scss/_components/sign/_sign.scss */
.sign__form-field {
  position: relative;
  padding-bottom: 20px;
}

/* line 49, src/scss/_components/sign/_sign.scss */
.sign__form-field.sign__form-field--btn {
  padding-bottom: 15px;
}

/* line 53, src/scss/_components/sign/_sign.scss */
.sign__form-field.sign__form-field--link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* line 58, src/scss/_components/sign/_sign.scss */
.sign__form-field.sign__form-field--link a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #d7af90;
  font-size: 19px;
  line-height: 1;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 66, src/scss/_components/sign/_sign.scss */
.sign__form-field.sign__form-field--link a span {
  padding-left: 5px;
  color: #ffffff;
}

/* line 71, src/scss/_components/sign/_sign.scss */
.sign__form-field.sign__form-field--link a:hover {
  color: #fff;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 79, src/scss/_components/sign/_sign.scss */
.sign__form label {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

/* line 85, src/scss/_components/sign/_sign.scss */
.sign__form input {
  outline: none;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50px;
  padding: 0 15px;
  border: none;
  -webkit-box-shadow: 3px 3px 1px 0 rgba(0, 0, 0, 0.35);
          box-shadow: 3px 3px 1px 0 rgba(0, 0, 0, 0.35);
  -webkit-border-radius: 2px;
          border-radius: 2px;
  background-color: #ffffff;
  font-size: 16px;
}

/* line 88, src/scss/_utilities/_mixin.scss */
.sign__form input.placeholder {
  font-size: 16px;
  color: silver;
}

/* line 89, src/scss/_utilities/_mixin.scss */
.sign__form input:-moz-placeholder {
  font-size: 16px;
  color: silver;
}

/* line 90, src/scss/_utilities/_mixin.scss */
.sign__form input::-moz-placeholder {
  font-size: 16px;
  color: silver;
}

/* line 91, src/scss/_utilities/_mixin.scss */
.sign__form input:-ms-input-placeholder {
  font-size: 16px;
  color: silver;
}

/* line 92, src/scss/_utilities/_mixin.scss */
.sign__form input::-webkit-input-placeholder {
  font-size: 16px;
  color: silver;
}

/* line 103, src/scss/_components/sign/_sign.scss */
.sign__form button {
  outline: none;
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 75px;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background-image: url("../img/img-btn-bg@2x.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
}

/* line 121, src/scss/_components/sign/_sign.scss */
.sign__form button:hover span {
  color: #3b2110;
  text-shadow: 2px 2px 0px rgba(255, 176, 113, 0);
  -webkit-transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

/* line 128, src/scss/_components/sign/_sign.scss */
.sign__form button span {
  color: #440000;
  font-size: 33px;
  line-height: 1;
  text-shadow: 2px 2px 0px rgba(255, 176, 113, 0.75);
  -webkit-transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

/* line 3, src/scss/_components/about/_about.scss */
.about {
  z-index: 2;
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
}

/* line 9, src/scss/_components/about/_about.scss */
.about__wrapper {
  width: 100%;
  padding: 45px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  background-image: url("../img/img-about-bg@2x.png");
  background-repeat: repeat-y;
  background-position: left top;
  -webkit-background-size: cover;
          background-size: cover;
}

/* line 19, src/scss/_components/about/_about.scss */
.about__title {
  padding-bottom: 20px;
  color: #fff;
  line-height: 1.1;
  font-size: 40px;
}

/* line 27, src/scss/_components/about/_about.scss */
.about__desc {
  color: #ffffff;
  font-size: 16px;
  line-height: 1.6;
}

/* line 31, src/scss/_components/about/_about.scss */
.about__desc:not(:last-of-type) {
  padding-bottom: 20px;
}

/* line 3, src/scss/_components/homepage/_main.scss */
.main {
  padding-top: 40px;
  padding-bottom: 20px;
}

/* line 7, src/scss/_components/homepage/_main.scss */
.main__block {
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-border-radius: 10px 10px 0 0;
          border-radius: 10px 10px 0 0;
  background-color: #ffd9b2;
}

/* line 16, src/scss/_components/homepage/_main.scss */
.main__block-wrapper {
  position: relative;
  left: -10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

/* line 22, src/scss/_components/homepage/_main.scss */
.main__block-wrapper > div {
  width: 100%;
  max-width: -webkit-calc(100% / 4);
  max-width: calc(100% / 4);
  padding-left: 10px;
  padding-bottom: 20px;
}

/* line 30, src/scss/_components/homepage/_main.scss */
.main__block-head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  padding: 5px 10px;
  background-image: url("../img/img-btn-bg@2x.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
}

/* line 42, src/scss/_components/homepage/_main.scss */
.main__block-head:hover p {
  color: #004f81;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 48, src/scss/_components/homepage/_main.scss */
.main__block-head p {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  font-size: 22px;
  color: #240000;
  line-height: 1;
  text-shadow: 0px 3px 0px rgba(255, 176, 113, 0.004);
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 61, src/scss/_components/homepage/_main.scss */
.main__block-body {
  padding: 10px;
}

/* line 65, src/scss/_components/homepage/_main.scss */
.main__block-footer {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
}

/* line 72, src/scss/_components/homepage/_main.scss */
.main__block-footer:before {
  content: '';
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(68, 0, 0, 0)), color-stop(50%, #440000), to(rgba(68, 0, 0, 0)));
  background: -webkit-linear-gradient(left, rgba(68, 0, 0, 0) 0%, #440000 50%, rgba(68, 0, 0, 0) 100%);
  background: -o-linear-gradient(left, rgba(68, 0, 0, 0) 0%, #440000 50%, rgba(68, 0, 0, 0) 100%);
  background: linear-gradient(to right, rgba(68, 0, 0, 0) 0%, #440000 50%, rgba(68, 0, 0, 0) 100%);
}

/* line 83, src/scss/_components/homepage/_main.scss */
.main__block-footer a {
  z-index: 2;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #000000;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 92, src/scss/_components/homepage/_main.scss */
.main__block-footer a:hover {
  color: #440000;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 97, src/scss/_components/homepage/_main.scss */
.main__block-footer a span {
  text-transform: uppercase;
  font-size: 13px;
  line-height: 1;
  font-weight: 700;
}

/* line 104, src/scss/_components/homepage/_main.scss */
.main__block-footer a .icon-font {
  margin-left: 5px;
  font-size: 16px;
}

/* line 111, src/scss/_components/homepage/_main.scss */
.main__block-desc {
  padding-bottom: 12px;
  font-size: 12px;
}

/* line 116, src/scss/_components/homepage/_main.scss */
.main__block-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* line 120, src/scss/_components/homepage/_main.scss */
.main__block-list li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 124, src/scss/_components/homepage/_main.scss */
.main__block-list a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  color: #004f81;
  min-height: 25px;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 132, src/scss/_components/homepage/_main.scss */
.main__block-list a:hover {
  color: #000000;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 137, src/scss/_components/homepage/_main.scss */
.main__block-list a.is-disabled {
  opacity: 0.55;
  pointer-events: none;
}

/* line 143, src/scss/_components/homepage/_main.scss */
.main__block-list a > div:nth-of-type(1) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 40px;
  padding-right: 5px;
}

/* line 150, src/scss/_components/homepage/_main.scss */
.main__block-list a > div:nth-of-type(2) {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
}

/* line 155, src/scss/_components/homepage/_main.scss */
.main__block-list a > div:nth-of-type(3) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 20px;
}

/* line 163, src/scss/_components/homepage/_main.scss */
.main__block-list a img {
  display: block;
  max-width: 20px;
  height: auto;
}

/* line 169, src/scss/_components/homepage/_main.scss */
.main__block-list a p {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

/* line 3, src/scss/_components/homepage/_faq.scss */
.faq {
  padding-top: 40px;
  padding-bottom: 40px;
}

/* line 7, src/scss/_components/homepage/_faq.scss */
.faq__content {
  padding-bottom: 50px;
}

/* line 10, src/scss/_components/homepage/_faq.scss */
.faq__content p {
  padding-bottom: 15px;
  color: #f8d27e;
  font-size: 21px;
  font-weight: 700;
}

/* line 17, src/scss/_components/homepage/_faq.scss */
.faq__content span {
  color: #ffffff;
  font-size: 16px;
}

/* line 21, src/scss/_components/homepage/_faq.scss */
.faq__content span:not(:last-of-type) {
  padding-bottom: 20px;
}

/* line 3, src/scss/_components/review/_review.scss */
.review {
  z-index: 2;
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
}

/* line 9, src/scss/_components/review/_review.scss */
.review .c-grid {
  max-width: 1036px;
}

/* line 13, src/scss/_components/review/_review.scss */
.review__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 55px;
  padding: 5px 20px;
  margin-bottom: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(#3e0d00), color-stop(51%, #2f0700), to(#3e0d00));
  background: -webkit-linear-gradient(top, #3e0d00 0%, #2f0700 51%, #3e0d00 100%);
  background: -o-linear-gradient(top, #3e0d00 0%, #2f0700 51%, #3e0d00 100%);
  background: linear-gradient(to bottom, #3e0d00 0%, #2f0700 51%, #3e0d00 100%);
}

/* line 23, src/scss/_components/review/_review.scss */
.review__header p {
  padding-top: 5px;
  color: #ff9f00;
  font-size: 34px;
}

/* line 30, src/scss/_components/review/_review.scss */
.review__header a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 35, src/scss/_components/review/_review.scss */
.review__header a:hover span {
  color: #ff9f00;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 41, src/scss/_components/review/_review.scss */
.review__header a img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-right: 10px;
}

/* line 48, src/scss/_components/review/_review.scss */
.review__header a span {
  color: #ffffff;
  font-size: 20px;
  line-height: 1;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 58, src/scss/_components/review/_review.scss */
.review__back {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 40px;
}

/* line 64, src/scss/_components/review/_review.scss */
.review__back a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 85px;
  padding-top: 8px;
  background-image: url("../img/img-back-btn@2x.png");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
  color: #3f1900;
  text-transform: uppercase;
  font-size: 57px;
  line-height: 1;
  text-shadow: 1px 1px 0px rgba(255, 176, 113, 0.75);
  -webkit-transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

/* line 83, src/scss/_components/review/_review.scss */
.review__back a:hover {
  color: #aa1600;
  text-shadow: 2px 2px 0px rgba(255, 176, 113, 0);
  -webkit-transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

/* line 91, src/scss/_components/review/_review.scss */
.review__block {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  margin-bottom: 30px;
  background-image: url("../img/img-about-bg@2x.png");
  background-repeat: repeat-y;
  background-position: left top;
  -webkit-background-size: cover;
          background-size: cover;
}

/* line 101, src/scss/_components/review/_review.scss */
.review__block > div {
  width: 50%;
}

/* line 104, src/scss/_components/review/_review.scss */
.review__block > div:nth-of-type(2) {
  padding-left: 40px;
}

/* line 109, src/scss/_components/review/_review.scss */
.review__block-preview {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #3f1900;
}

/* line 123, src/scss/_components/review/_review.scss */
.review__block-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
}

/* line 129, src/scss/_components/review/_review.scss */
.review__block-header > div:nth-of-type(1) {
  padding-right: 15px;
}

/* line 135, src/scss/_components/review/_review.scss */
.review__block-title {
  font-size: 45px;
  line-height: 1.2;
  color: #ffffff;
}

/* line 142, src/scss/_components/review/_review.scss */
.review__block-star {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 147, src/scss/_components/review/_review.scss */
.review__block-desc {
  padding-bottom: 20px;
  font-size: 12px;
  line-height: 1.3;
  color: #ffffff;
}

/* line 155, src/scss/_components/review/_review.scss */
.review__block-advantages-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
}

/* line 159, src/scss/_components/review/_review.scss */
.review__block-advantages-wrapper > div {
  width: 50%;
}

/* line 162, src/scss/_components/review/_review.scss */
.review__block-advantages-wrapper > div:nth-of-type(1) {
  padding-right: 5px;
}

/* line 165, src/scss/_components/review/_review.scss */
.review__block-advantages-wrapper > div:nth-of-type(2) {
  padding-left: 5px;
}

/* line 171, src/scss/_components/review/_review.scss */
.review__block-advantages-title {
  padding-bottom: 10px;
  font-size: 25px;
  line-height: 1.2;
  color: #ffffff;
}

/* line 179, src/scss/_components/review/_review.scss */
.review__block-advantages ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* line 183, src/scss/_components/review/_review.scss */
.review__block-advantages ul li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 187, src/scss/_components/review/_review.scss */
.review__block-advantages ul li:not(:last-of-type) {
  padding-bottom: 5px;
}

/* line 192, src/scss/_components/review/_review.scss */
.review__block-advantages ul li > div:nth-of-type(1) {
  width: 28px;
}

/* line 195, src/scss/_components/review/_review.scss */
.review__block-advantages ul li > div:nth-of-type(2) {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
}

/* line 202, src/scss/_components/review/_review.scss */
.review__block-advantages ul li p {
  font-size: 17px;
  line-height: 1.2;
  color: #ffffff;
}

/* line 212, src/scss/_components/review/_review.scss */
.review__block-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 50px;
  padding-top: 4px;
  background-image: url("../img/img-back-btn@2x.png");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
  color: #3f1900;
  font-size: 31px;
  line-height: 1;
  text-shadow: 1px 1px 0px rgba(255, 176, 113, 0.75);
  -webkit-transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

/* line 230, src/scss/_components/review/_review.scss */
.review__block-btn:hover {
  color: #aa1600;
  text-shadow: 2px 2px 0px rgba(255, 176, 113, 0);
  -webkit-transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

/* line 238, src/scss/_components/review/_review.scss */
.review__category {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-border-radius: 10px 10px 0 0;
          border-radius: 10px 10px 0 0;
  background-image: url("../img/img-bg.png");
  background-repeat: repeat-y;
  background-position: left top;
  -webkit-background-size: cover;
          background-size: cover;
}

/* line 247, src/scss/_components/review/_review.scss */
.review__category-wrapper {
  position: relative;
  left: -10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding-bottom: 20px;
}

/* line 254, src/scss/_components/review/_review.scss */
.review__category-wrapper > div {
  width: 100%;
  max-width: -webkit-calc(100% / 4);
  max-width: calc(100% / 4);
  padding-left: 10px;
  padding-bottom: 10px;
}

/* line 262, src/scss/_components/review/_review.scss */
.review__category-head {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 130px;
}

/* line 273, src/scss/_components/review/_review.scss */
.review__category-body {
  padding: 15px 10px;
}

/* line 277, src/scss/_components/review/_review.scss */
.review__category-title {
  padding-bottom: 10px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}

/* line 285, src/scss/_components/review/_review.scss */
.review__category-desc {
  padding-bottom: 10px;
  font-size: 13px;
  line-height: 1.3;
  font-weight: 500;
  color: #ffffff;
}

/* line 293, src/scss/_components/review/_review.scss */
.review__category-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* line 298, src/scss/_components/review/_review.scss */
.review__category-link a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: -webkit-calc((100% - 10px) / 2);
  max-width: calc((100% - 10px) / 2);
  height: 35px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  background-image: url("../img/img-header-nav-bg@2x.png");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  color: #3f1900;
  font-size: 16px;
  text-shadow: 1px 1px 0px rgba(255, 176, 113, 0.75);
  -webkit-transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

/* line 316, src/scss/_components/review/_review.scss */
.review__category-link a:hover {
  color: #aa1600;
  text-shadow: 2px 2px 0px rgba(255, 176, 113, 0);
  -webkit-transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

/* line 324, src/scss/_components/review/_review.scss */
.review__category-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 45px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  background-image: url("../img/img-header-nav-bg@2x.png");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  color: #3f1900;
  font-size: 24px;
  text-shadow: 1px 1px 0px rgba(255, 176, 113, 0.75);
  -webkit-transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

/* line 341, src/scss/_components/review/_review.scss */
.review__category-btn:hover {
  color: #aa1600;
  text-shadow: 2px 2px 0px rgba(255, 176, 113, 0);
  -webkit-transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

/* line 4, src/scss/_components/category/_category.scss */
.category__block {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  max-height: 636px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  background-image: url("../img/img-about-bg@2x.png");
  background-repeat: repeat-y;
  background-position: left top;
  -webkit-background-size: cover;
          background-size: cover;
}

/* line 15, src/scss/_components/category/_category.scss */
.category__block > div {
  overflow-y: auto;
  padding: 30px;
}

/* line 19, src/scss/_components/category/_category.scss */
.category__block > div p {
  color: #ffffff;
  font-size: 16px;
}

/* line 23, src/scss/_components/category/_category.scss */
.category__block > div p:not(:last-of-type) {
  padding-bottom: 30px;
}

/* line 29, src/scss/_components/category/_category.scss */
.category__block-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 32, src/scss/_components/category/_category.scss */
.category__block-wrapper > div {
  width: 50%;
}

/* line 35, src/scss/_components/category/_category.scss */
.category__block-wrapper > div:nth-of-type(2) {
  padding-left: 10px;
}

/* line 44, src/scss/_components/category/_category.scss */
.category .review__category-wrapper > div {
  max-width: -webkit-calc(100% / 2);
  max-width: calc(100% / 2);
}

/*# sourceMappingURL=maps/app.css.map */
