// FOOTER :: START

footer#footer.footer
  .c-grid
    .footer__wrapper

      p.footer__desc All links on this site lead to pages provided by 3rd parties. We take no responsibility for the content on any website which we link to, please use your own discretion while surfing the links.

      ul.footer__nav
        li
          a(href="#") About Us
        li
          span |
        li
          a(href="#") Contact

      p.footer__copyright ® 2021 Porn Sheriff - Best Porn Sites List

// FOOTER :: END
