// HEADER :: START

header#header.header

  .c-grid
    .header__wrapper
      .header__bg

        .header__bg-left
          a(href="/index.html")
            img(src="img/img-toon.png" srcset="img/img-toon@2x.png 2x" alt="")

        .header__bg-middle
          a(href="/index.html")
            img(src="img/img-logo-header.png" srcset="img/img-logo-header@2x.png 2x" alt="")

        .header__bg-right
          div

            .header__sign
              a(href="/login.html") Login
              span
              a(href="/signup.html") Sign Up

            .header__search
              label
                input(type='text' name='' placeholder="Search...")
                i.icon-font.icon-search
                
            .header__wanted
              img(src="img/img-wanted.png" srcset="img/img-wanted@2x.png 2x" alt="")

    .header__nav-wrapper(mobile-block-js)
      .header__nav
        a(href="/index.html") Home
        a(href="#") Sex Dating
        a(href="#") Live Sex
        a(href="#") Porn Games

    +hamburger()

// HEADER :: END
