// HEADER :: START

header#header.header

  .c-grid
    .header__wrapper
      .header__bg

        .header__bg-left
          img(src="img/img-toon.png" srcset="img/img-toon@2x.png 2x" alt="")

        .header__bg-middle
          img(src="img/img-logo-header.png" srcset="img/img-logo-header@2x.png 2x" alt="")

        .header__bg-right
          div

            .header__sign
              a(href="#") Login
              span
              a(href="#") Sign Up

            .header__search
              label
                input(type='text' name='' placeholder="Search...")
                i.icon-font.icon-search
                
            .header__wanted
              img(src="img/img-wanted.png" srcset="img/img-wanted@2x.png 2x" alt="")

      .header__nav
        a(href="#") Home
        a(href="#") Sex Dating
        a(href="#") Live Sex
        a(href="#") Porn Games

// HEADER :: END
