// HEADER :: START

.header {
	position: relative;
	background-image: url('../img/img-bg.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	&__wrapper {
		z-index: 2;
		position: relative;
		height: 255px;
		@include adaptive(767) {
			height: 155px;
		}
	}

	&__bg {
		z-index: 0;
		overflow: hidden;
		position: absolute;
		display: flex;
		justify-content: space-between;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		@include adaptive(767) {
			overflow: unset;
		}

		&-left {
			z-index: 2;
			position: relative;
			@include adaptive(767) {
				display: none;
			}

			img {
				z-index: 5;
				position: relative;
				top: 0;
				left: 0;
				display: block;
				max-width: 100%;
				height: auto;
				max-height: 100%;
			}
		}
		&-middle {
			z-index: 1;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: flex-start;
			justify-content: center;
			@include adaptive(767) {
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;
				padding-bottom: 40px;

				a {
					display: flex;
					align-items: flex-start;
					justify-content: center;
					height: 100%;
				}
			}

			img {
				position: absolute;
				left: 0;
				right: 0;
				display: block;
				max-width: 100%;
				height: auto;
				max-height: 100%;
				margin-left: auto;
				margin-right: auto;
				@include adaptive(767) {
					position: relative;
				}
			}
		}
		&-right {
			z-index: 3;
			position: relative;
			display: flex;
			justify-content: flex-end;
			@include adaptive(767) {
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				transform: translateY(50%);
				background-image: url('../img/img-header-nav-bg@2x.png');
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
			}

			> div {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: space-between;
				width: 100%;
				max-width: 200px;
				padding-top: 5px;
				padding-bottom: 30px;
				@include adaptive(767) {
					max-width: 100%;
					padding-top: 5px;
					padding-bottom: 10px;
				}
			}
		}

		img {
			display: block;
			max-width: 100%;
			height: auto;
		}
	}

	&__sign {
		overflow: hidden;
		position: relative;
		display: flex;
		align-items: center;
		width: 115px;
		height: 22px;
		margin-bottom: 5px;
		border-radius: 2rem;
		background-image: url('../img/img-header-nav-bg@2x.png');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		@include adaptive(767) {
			background-image: none;
		}

		a {
			white-space: nowrap;
			display: flex;
			align-items: center;
			justify-content: center;
			flex: 1;
			min-width: 1px;
			max-width: 100%;
			height: 100%;
			color: #000000;
			@extend %fontMagicMushroom;
			text-transform: uppercase;
			font-size: 13px;
			text-shadow: 1px 1px 0px rgba(255, 176, 113, 0.75);
			@include transition(color, text-shadow);

			&:hover {
				color: #3b2110;
				text-shadow: 2px 2px 0px rgba(255, 176, 113, 0);
				@include transition(color, text-shadow);
			}
		}

		span {
			width: 2px;
			height: 100%;
			background: linear-gradient(to bottom, rgba(68,0,0,0) 0%,rgba(68,0,0,1) 50%,rgba(68,0,0,0) 100%);
		}
	}

	&__search {
		position: relative;
		display: flex;
		width: 100%;
		max-width: 185px;
		margin-left: auto;
		margin-right: auto;
		@include adaptive(767) {
			max-width: calc(100% - 10px);
		}

		label {
			position: relative;
			display: flex;
			width: 100%;
		}

		input {
			outline: none;
			position: relative;
			width: 100%;
			height: 35px;
			padding: 0 30px 0 10px;
			border: none;
			box-shadow: 3px 3px 1px 0 rgba(#000, 0.35);
			border-radius: 2px;
			background-color: #ffffff;
			font-size: 12px;
			@include inputPlaceholder {
				font-size: 12px;
				color: silver;
			}
		}

		.icon-font {
			position: absolute;
			top: 0;
			right: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 30px;
			height: 100%;
			color: #000000;
		}
	}

	&__wanted {
		display: flex;
		align-items: flex-start;
		flex: 1;
		min-height: 1px;
		max-height: 100%;
		@include adaptive(767) {
			display: none;
		}

		img {
			display: block;
			max-width: 100%;
			height: auto;
			max-height: 100%;
			margin-left: auto;
			margin-right: auto;
		}
	}

	.hamburger {
		display: none;
		z-index: 2999;
		position: absolute;
		top: 0;
		right: 15px;
		@include adaptive(767) {
			display: flex;
		}
	}

	&__nav {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 54px;
		margin-left: auto;
		margin-right: auto;
		transform: translateY(50%);
		background-image: url('../img/img-header-nav-bg@2x.png');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		@include adaptive(767) {
			flex-direction: column;
			width: 100%;
			height: 100%;
			padding: 30px;
			transform: unset;
			background-image: none;
		}

		&-wrapper {
			z-index: 99;
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			@include adaptive(767) {
				z-index: 1999;
				opacity: 0;
				visibility: hidden;
				position: fixed;
				top: 0;
				left: 0;
				flex-direction: column;
				width: 100%;
				height: 100%;
				transform: translateX(100%);
				background-color: #3b2110;
				@include transition(opacity, visibility, transform);

				&.is-open {
					opacity: 1;
					visibility: visible;
					transform: translateX(0);
					@include transition(opacity, visibility, transform);
				}
			}
		}

		a {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-left: 10px;
			margin-right: 10px;
			padding-left: 15px;
			padding-right: 15px;
			@extend %fontMagicMushroom;
			color: #440000;
			font-size: 33px;
			line-height: 1;
			text-shadow: 2px 2px 0px rgba(255, 176, 113, 0.75);
			@include transition(color, text-shadow);
			@include adaptive(1279) {
				margin-left: 5px;
				margin-right: 5px;
				padding-left: 10px;
				padding-right: 10px;
				font-size: 30px;
			}
			@include adaptive(1023) {
				margin-left: 0;
				margin-right: 0;
				padding-left: 10px;
				padding-right: 10px;
				font-size: 25px;
			}
			@include adaptive(767) {
				min-height: 40px;
				font-size: 20px;
				color: #ffffff;
			}

			&:hover {
				color: #3b2110;
				text-shadow: 2px 2px 0px rgba(255, 176, 113, 0);
				@include transition(color, text-shadow);
			}
		}
	}
}

// HEADER :: END
