// SECTION :: START

.faq {
	padding-top: 40px;
	padding-bottom: 40px;

	&__content {
		padding-bottom: 50px;

		p {
			padding-bottom: 15px;
			color: #f8d27e;
			font-size: 21px;
			font-weight: 700;
			@include adaptive(767) {
				padding-bottom: 10px;
				font-size: 18px;
			}
		}

		span {
			color: #ffffff;
			font-size: 16px;
			@include adaptive(767) {
				font-size: 14px;
			}

			&:not(:last-of-type) {
				padding-bottom: 20px;
				@include adaptive(767) {
					padding-bottom: 15px;
				}
			}
		}
	}
}

// SECTION :: END
