// SECTION :: START

.about {
	z-index: 2;
	position: relative;
	padding-top: 60px;
	padding-bottom: 60px;

	&__wrapper {
		width: 100%;
		padding: 45px;
		border-radius: 10px;
		background-image: url('../img/img-about-bg@2x.png');
		background-repeat: repeat-y;
		background-position: left top;
		background-size: cover;
	}

	&__title {
		padding-bottom: 20px;
		@extend %fontMagicMushroom;
		color: #fff;
		line-height: 1.1;
		font-size: 40px;
	}

	&__desc {
		color: #ffffff;
		font-size: 16px;
		line-height: 1.6;
		&:not(:last-of-type) {
			padding-bottom: 20px;
		}
	}
}

// SECTION :: END
