// SECTION :: START

section#faq.faq
  .c-grid
    .faq__wrapper

      .faq__content
        p People wanna know! Pornstars wanna know! Who are you, sheriff?
        span It’s no secret, son! I’m the motherfucker who calls the shots around here! As simple as that! I make the rules in the porn industry and that’s why I’m the sheriff and not you! Pornstars wanna know?! Of course they do! Who the fuck doesn’t want a piece of the sheriff? You got to be crazy to not want to be my friend!
        span Anyway, I’m glad you’ve asked me this question, because you now know why it is advisable (and wise) to follow my lead! The porn realm of the sheriff! I know everything like every single best XXX site out there I (literally) hold the best porn websites in the industry. In all possible categories! you wanna be one of my followers! For fuck sake, why not, boy? The jerking off machine is now open for business! The sheriff is here! Mother fuckers, prepare!

      .faq__content
        p Speaking of that, sheriff! I wanted to ask you! What’s going on here?
        span Here, where? On this site? It’s a directory, mofo! Better said, it is a porn directory! Because you don’t come here if you’re looking for mainstream shit! You come here for the #pussy! We all love that wet thing and we all want it! And tits! Fuck, we want the booooobs until the last days of our lives! For the above reasons I have put together this amazing porno directory, filled with the best porn sites, at this moment, on the world wide web.
        span You don’t have to search for sex-on-the-screen anymore! Those days are long forgotten! Just visit my directory and browse the greatest there is! No matter what the fuck your dirty mind might desire, you will for sure find some places to visit, in here! Yes, exactly, my directory also includes fetish porn, BDSM, rough sex and everything else that involves a red room.

      .faq__content
        p Hmm, fucking nice, brother! But, what about those categories?
        span Don’t fucking call me “brother”, mofo! I am your sheriff, not your brother! I’ll forgive you this time, but this time only! Going back to your question, well, all smart directories must have categories. We can’t have a huge list with sites, one on top of the other, without a logic behind. And a smart directory must have as many categories as possible, to cover all preferences, all fetishes and whatever type of porn people might want.
        span Free Porn Tube Sites, Live Sex Cam Sites, Sex Dating Sites, Asian Porn, Ebony Porn, Premium Porn – you fucking name it! I have them all and as you already understood, I have the best! I’m not kidding when it comes to good porn and I love it too much to joke around. I respect my visitors and I’ll always do my best to offer the best product! All I want in return is your respect! Nothing else! Yeah, mofo, my directory is free of charge. You have this curated exquisite porn catalog at your disposal, without spending a cent.

      .faq__content
        p Sure, lots of porn and categories! But, you list the sites based on what?
        span Well, well! You wanna know the sheriff’s secrets? I’m just kidding, man! There’s no secret here! How do I list the sites? I use an algorithm. Or more! Heh! So, first of all, I take a look at the content of a site! What type of porn it offers! And how good it is! And how much, if regular updates or not! I see the featured pornstars (those that wanna meet me). I see the functionality, template, this and that. Based on all of the above and not only, a particular site will get a position on my directory!
        span One thing you got to remember! I never keep a porn site if it’s dead! No matter how much porno videos or porno pics it might have on its pages! If it doesn’t update anymore, well, I won’t list it! Or if it is already listed and it dies – tough luck, I will take it out! In the blink of an eye! In conclusion, there are many aspects that I take into consideration, when I put together a top under a category! It is a restless work and I’m so glad to do it for you!

      .faq__content
        p What kind of porn do you like? And what pornstars do you prefer?
        span It doesn’t matter what I like! I am not updating this directory based on my preferences! I update it with what people want to see! Let me give you an example. Let’s say fetish porn! I don’t give a fuck about it! I don’t care for BDSM, gagging, latex, bondage porno clips, whatever the fuck! It’s not for me! Still, I know that lots of people are into this kind of shit! And for this reason, I pay a lot of attention to fetish porno content and everything related. I have the best BDSM porno sites on earth, same for all the other branches of this category. Why would you fucking like to be in a red room? Naaah, this fucking shit is not for me, mofo!
        span When it comes to pornstars, I know what you’re trying to do! You wanna find out what starlets are present on the adult websites that I list. Right? Don’t you fucking deny it! I recognise a pornstar addict when I see one! Anyway, all of them! Does this answer your question? All possible pornstars will be found on the sites listed on my directory! Lana Rhoades, August Ames, Chanel Preston, Mia Khalifa, bla bla bla! You’ll even get the retro ones like Kay Parker. Oh, yeah, Kay is so fuckable. I also fucking love Chanel Preston. You know this pornstar, right? She’s one of the most popular adult models like ever! You see, eventually, I gave you a few examples of babes-in-porn that I like. There are some others, but we will discuss about them next time! Now, what other absolutely-whatever-questions do you have for me?

      .faq__content
        p Why are you doing this? What’s in it for you, sheriff? I really wanna know!
        span I am doing it because I am a porn addict. That’s why! I love pornography too much. I started this directory so many years ago. I wanted to make a list of the best amateur porn sites! Then, I added a new list, which had the best cam sites, so forth and so on. As you can imagine, the directory became bigger and bigger, until it grown into what you see right now. No worriers, I will not stop updating the damn thing. I will never get bored.
        span I don’t earn anything. And I don’t need your money! I come from a rich family and I have all the money in the world! I am simply satisfied that you can enjoy the porn that you like. And that you can access it on clean sites! Oh, I forgot to tell you something! I check every site that I add to see if it is virus-free and malware-free! Isn’t this great, mother fucker?

      .faq__content
        p If I find any troubles in your reviews or on the sites, may I call you?
        span Call me? What the fuck? You’re not my woman to call me, for fuck sake! Yes, you can get in contact with me, but do it via email (insert email here). I am counting on you, to be honest. You can contact me if you think that a site is worthy of being listed on my directory, you can contact me if you think that I should add a new category, contact me if you find troubles, bla bla bla.
        span It doesn’t matter about what site we are talking (it can be Pornhub, xHamster or any other) and it doesn’t matter in which category the site is (free porn tubes, premium porn, dating sites, ebony porn)! I promise that I will read all emails, I will resolve all issues and that I won’t hire someone to do that for me.

      .faq__content
        p What else can you tell me about your directory, sheriff?
        span I can tell you that it is a lot of work to put together the best porn sites on the planet. And the work never stops – updating the directory on a regular basis. And all of these, because we are addicted to porn! That’s the main reason for which I have created the directory! I wanted to give XXX entertainment to the people, to the masses! When I say “porn”, you say “porno”. If I say “porno”, hit me with a “porn”. And when the day is over, don’t forget the XXX. Ahh, it’s so fun to be a porn sheriff. The one and only porn sheriff, to be more precise.
        span Leaving the jokes aside, I wanna tell you to never forget to visit my directory again and again. Tell all your friends about it. When you have my porn index at your feet, you won’t need anything else. Consider it a launching pad to the best adult entertainment out there. Curated sex, mofo! That’s what you will get if you’ll fucking follow my lead. Anyway, now, I am off. Important business is waiting. See you soon on the pages of PornSheriff.com!

// SECTION :: END
