// SECTION :: START

section#main.main
  .c-grid
    .main__wrapper

      .main__block-wrapper
        each val, idx in [1,2,3,4,5,6,7,8]
          div
            .main__block
              a.main__block-head(href="#")
                p Best Porn Sites
              .main__block-body
                p.main__block-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, rerum.

                ul.main__block-list
                  each val, idx in [1,2,3,4,5,6,7,8,9,10,11,12]
                    li
                      a(href="#" class!= (idx === 0 || idx === 1 || idx === 3 || idx === 4 || idx === 6 || idx === 9 || idx === 10)?'':'is-disabled')
                        div
                          span!= val + '.'
                          img(src="img/img-toon.png" srcset="img/img-toon@2x.png 2x" alt="")
                        div
                          p TeenagerXXXTube
                        div
                          if(idx === 0 || idx === 1 || idx === 3 || idx === 4 || idx === 6 || idx === 9 || idx === 10)
                            i.icon-font.icon-zoom-in

              .main__block-footer
                a(href="#")
                  span See 100 more sites
                  i.icon-font.icon-right-chevron

// SECTION :: END
